/*
use [master];
IF EXISTS (SELECT * FROM SYS.DATABASES WHERE NAME='practice')
BEGIN
	DROP DATABASE practice;
END
CREATE DATABASE practice;
*/

use practice;
GO

drop table if exists Rent;
drop table if exists Employees;
drop table if exists Employees_roles;
drop table if exists Pavilion;
drop table if exists Pavilion_statuses;
drop table if exists Mall;
drop table if exists Rent_statuses;
drop table if exists Tenants;
GO

drop table if exists Employees_roles;
create table Employees_roles(
	[role_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[role_name] nvarchar(255) NOT NULL
);

drop table if exists Employees;
create table Employees(
	[employe_id] bigint NOT NULL PRIMARY KEY IDENTITY,
	[name] nvarchar(255) NOT NULL,
	[surname] nvarchar(255) NOT NULL,
	[patronymic] nvarchar(255) NOT NULL,
	[login] nvarchar(255) NOT NULL,
	[password] nvarchar(255) NOT NULL,
	[role] [bigint] NOT NULL,
	[phone] nvarchar(40) NOT NULL,
	[sex] nvarchar(1) NOT NULL
	check(sex = 'М' or sex = 'Ж'),
	[photo] varbinary(max) default null,
	FOREIGN KEY ([role]) REFERENCES Employees_roles ([role_id])
);

drop table if exists Mall_statuses;
create table Mall_statuses(
	[status_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[status_name] nvarchar(255) NOT NULL
);

drop table if exists Mall;
create table Mall(
	[mall_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[mall_name] nvarchar(255) NOT NULL,
	[status_id] bigint NOT NULL,
	[cost] decimal(38,5) NOT NULL,
	[number_of_pavilion] [int] NOT NULL,
	[city] nvarchar(255) NOT NULL,
	[value_added_factor] [float] NOT NULL,
	[number_of_storeys] [int] NOT NULL,
	[photo] varbinary(max) default null,
	FOREIGN KEY ([status_id]) REFERENCES Mall_statuses ([status_id])
);

drop table if exists Pavilion_statuses;
create table Pavilion_statuses(
	[status_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[status_name] nvarchar(255) NOT NULL
);

drop table if exists Pavilion;
create table Pavilion(
	[mall_id] [bigint] NOT NULL,
	[pavilion_number] nvarchar(20) NOT NULL,
	PRIMARY KEY ([mall_id], [pavilion_number]),
	[floor] [int] NOT NULL,
	[status_id] [bigint] NOT NULL,
	[square] decimal(20,5) NOT NULL,
	[cost_per_square_meter] decimal(20,5) NOT NULL,
	[value_added_factor] [float] NOT NULL,
	FOREIGN KEY ([status_id]) REFERENCES Pavilion_statuses ([status_id]),
	FOREIGN KEY ([mall_id]) REFERENCES Mall ([mall_id])
);

drop table if exists Tenants;
create table Tenants(
	[tenant_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[company_name] nvarchar(255) NOT NULL,
	[phone] nvarchar(40) NOT NULL,
	[address] nvarchar(255) NOT NULL
);

drop table if exists Rent_statuses;
create table Rent_statuses(
	[status_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[status_name] nvarchar(255) NOT NULL
);

drop table if exists Rent;
create table Rent(
	[rent_id] [bigint] NOT NULL PRIMARY KEY IDENTITY,
	[tenant_id] [bigint] NOT NULL,
	[mall_id] [bigint] NOT NULL,
	[pavilion_number] nvarchar(20) NOT NULL,
	[employee_id] [bigint] NOT NULL,
	[status_id] [bigint] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	FOREIGN KEY ([employee_id]) REFERENCES Employees ([employe_id]),
	FOREIGN KEY ([tenant_id]) REFERENCES Tenants ([tenant_id]),
	FOREIGN KEY ([status_id]) REFERENCES Rent_statuses ([status_id]),
	FOREIGN KEY ([mall_id], [pavilion_number]) REFERENCES Pavilion ([mall_id], [pavilion_number])
);

insert into Employees_roles([role_name]) values
('Администратор'),
('Менеджер А'),
('Менеджер С'),
('Удален');


insert into Mall_statuses(status_name) values
('План'),
('Строительсто'),
('Удалён'),
('Реализация');


insert into Pavilion_statuses(status_name) values
('Свободен'), -- в будущ нет ничего
('Забронировано'), -- есть интервал
('Удалён'), -- 
('Арендован'); -- сейчас идет



insert into Tenants(company_name, phone, address) values
('AG Marine', '+7 (495) 526 14 53', 'Москва, Бабаевская улица д.16'),
('Art-elle', '+7 (495) 250 58 94', 'Санкт-Петербург, Амбарная улица д.25 корп.1'),
('Atlantis', '+7 (495) 424 11 65', 'Новосибирск, Улица Каменская д.16'),
('Corporate Travel', '+7 (495) 245 39 05', 'Екатеринбург, Улица Антона Валека д.56'),
('GallaDance', '+7 (495) 316 77 94', 'Нижний Новгород, Улица Ларина д. 34');

insert into Rent_statuses(status_name) values
('Открыт'),
('Ожидание'),
('Закрыт');



/*
select * from Tenants

select * from Employees

select em.*, er.role_name from Employees em
join Employees_roles er on em.role = er.role_id

select * from mall

select * from mall m
join mall_statuses ms on ms.status_id = m.status_id

select * from Pavilion

select * from Rent


select 
	p.mall_id,
	p.pavilion_number,
	ps.status_name [статус павильона],
	re.rent_id,
	re.start_date,
	re.end_date,
	rs.status_name [статус аренды]
from Pavilion p
join Pavilion_statuses ps on 
	ps.status_id = p.status_id
join Rent re on 
	re.mall_id = p.mall_id and 
	re.pavilion_number = p.pavilion_number
join Rent_statuses rs on 
	rs.status_id = re.status_id


select
	p.mall_id,
	p.pavilion_number,
	ps.status_name [статус павильона],
	ps.status_id,
	re.start_date,
	re.end_date
from Pavilion p
join Pavilion_statuses ps on 
	ps.status_id = p.status_id
join Rent re on 
	re.mall_id = p.mall_id and 
	re.pavilion_number = p.pavilion_number
join Rent_statuses rs on 
	rs.status_id = re.status_id

select 
	m.mall_id [id ТЦ],
	m.mall_name [имя ТЦ],
	m.city [город ТЦ],
	ms.status_name [статус ТЦ],
	p.pavilion_number [номер павильона],
	p.[floor] [этаж],
	ps.status_name [статус павильона]
from Mall m
join Mall_statuses ms on 
	ms.status_id = m.status_id
join Pavilion p on 
	p.mall_id = m.mall_id 
join Pavilion_statuses ps on 
	ps.status_id = p.status_id

select 
	p.mall_id,
	p.pavilion_number,
	ps.status_id, -- [статус павильона]
	ps.status_name [статус павильона],
	rs.status_id, -- [статус павильона]
	rs.status_name [статус аренды]
from Pavilion p
join Pavilion_statuses ps on 
	ps.status_id = p.status_id
join Rent re on 
	re.mall_id = p.mall_id and 
	re.pavilion_number = p.pavilion_number
join Rent_statuses rs on 
	rs.status_id = re.status_id
*/

--************************************************************************
GO
IF EXISTS (SELECT name FROM sysobjects WHERE name = 'UpdateRentsAndPavilions' AND type = 'P')
BEGIN
   DROP PROCEDURE UpdateRentsAndPavilions;
END;
GO

GO
CREATE PROCEDURE UpdateRentsAndPavilions AS
BEGIN
	declare @years int;
	set @years = 3;
	
	update Rent
	set start_date = Dateadd(year, @years, start_date), 
		end_date =  Dateadd(year, @years, end_date);

	DECLARE 
		@mall_id bigint,
		@pav_num NVARCHAR(256),
		@start_date date,
		@end_date date,
		@pavilion_status_id bigint;

	DECLARE cursor_editor_pavilion_statuses CURSOR FOR 
	select 
		p.mall_id,
		p.pavilion_number,
		re.start_date,
		re.end_date
	from Pavilion p
	join Pavilion_statuses ps on 
		ps.status_id = p.status_id
	join Rent re on 
		re.mall_id = p.mall_id and 
		re.pavilion_number = p.pavilion_number
	join Rent_statuses rs on 
		rs.status_id = re.status_id;

	OPEN cursor_editor_pavilion_statuses
	FETCH NEXT FROM cursor_editor_pavilion_statuses INTO @mall_id, @pav_num, @start_date, @end_date;

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		--print(concat(@mall_id, ' ', @pav_num, ' ', @start_date, ' ', @end_date))

		IF (Getdate() between @start_date and @end_date) BEGIN
			set @pavilion_status_id = 4;-- Арендован
		END ELSE IF (Getdate() < @start_date) BEGIN
			set @pavilion_status_id = 2;-- Забронировано
		END ELSE IF (Getdate() > @end_date) BEGIN
			set @pavilion_status_id = 1;-- Свободен
		END;
		update Pavilion
		set status_id = @pavilion_status_id
		where mall_id = @mall_id and pavilion_number = @pav_num;
		FETCH NEXT FROM cursor_editor_pavilion_statuses INTO @mall_id, @pav_num, @start_date, @end_date
	END 
	CLOSE cursor_editor_pavilion_statuses;
	DEALLOCATE cursor_editor_pavilion_statuses;

	--****************************************************************
	DECLARE 
		@pav_status_id bigint,
		@new_rent_status_id bigint,
		@rent_status_id bigint;

	DECLARE cursor_editor_rent_statuses CURSOR FOR 
	select 
		p.mall_id,
		p.pavilion_number,
		ps.status_id, -- статус павильона
		rs.status_id -- статус аренды
	from Pavilion p
	join Pavilion_statuses ps on 
		ps.status_id = p.status_id
	join Rent re on 
		re.mall_id = p.mall_id and 
		re.pavilion_number = p.pavilion_number
	join Rent_statuses rs on 
		rs.status_id = re.status_id

	OPEN cursor_editor_rent_statuses
	FETCH NEXT FROM cursor_editor_rent_statuses INTO @mall_id, @pav_num, @pav_status_id, @rent_status_id;

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
		--print(concat(@mall_id, ' ', @pav_num, ' ', @pav_status_id, ' ', @rent_status_id))

		IF (@pav_status_id = 1) BEGIN -- Свободен
			set @new_rent_status_id = 3; -- Закрыт
		END ELSE IF (@pav_status_id = 2) BEGIN -- Забронировано
			set @new_rent_status_id = 1; -- Открыт
		END ELSE IF (@pav_status_id = 3) BEGIN -- Удалён
			set @new_rent_status_id = 3; -- Закрыт
		END ELSE IF (@pav_status_id = 4) BEGIN -- Арендован
			set @new_rent_status_id = 2; -- Ожидание
		END;
		update Rent
		set status_id = @new_rent_status_id
		where mall_id = @mall_id and 
			  pavilion_number = @pav_num;
		FETCH NEXT FROM cursor_editor_rent_statuses INTO @mall_id, @pav_num, @pav_status_id, @rent_status_id;
	END 
	CLOSE cursor_editor_rent_statuses;
	DEALLOCATE cursor_editor_rent_statuses;
	/*
	Статусы аренды
	('Открыт') -- Забронировано
	('Ожидание') -- Арендован
	('Закрыт') Свободен / Удалён

	Статусы павильона
	('Свободен') -- в будущ нет ничего
	('Забронировано') -- есть интервал
	('Арендован') -- сейчас идет
	('Удалён') -- 
	*/
END;
GO

exec UpdateRentsAndPavilions;
--************************************************************************
IF EXISTS (SELECT name FROM sys.objects WHERE name = 'CheckerMalls' AND type = 'TR')  
   DROP TRIGGER CheckerMalls;  
GO  

CREATE TRIGGER CheckerMalls
ON Mall
INSTEAD OF UPDATE
AS
BEGIN
	/*
	('План'),
	('Строительсто'),
	('Удалён'),
	('Реализация');
	*/
	DECLARE 
		@count_pav bigint;

	IF ((select status_id from inserted) = 1 and 
		(select status_id from deleted) <> 1) BEGIN -- План
		-- print('План')
		set @count_pav = (select count(*) from pavilion p
						  where status_id = 2 and 
								p.mall_id = (select mall_id from inserted)) -- 2 == Забронировано
		--print(@count_pav)
		IF (@count_pav > 0) BEGIN
			RAISERROR ('Невозможно изменить статус ТЦ', 16, 1);
			ROLLBACK;
		END;
	END;

END
GO 
--************************************************************************
IF EXISTS (SELECT name FROM sys.objects WHERE name = 'CheckerMall' AND type = 'TR')  
   DROP TRIGGER CheckerMall;  
GO  


--************************************************************************
IF EXISTS (SELECT name FROM sys.objects WHERE name = 'CheckerPavilionsUpdate' AND type = 'TR')  
   DROP TRIGGER CheckerPavilionsUpdate;  
GO  

CREATE TRIGGER CheckerPavilionsUpdate
ON Pavilion
INSTEAD OF UPDATE
AS
BEGIN
/*
Исключите возможность удаления и редактирования павильонов, имеющих статус 
«забронирован» или «арендован».
select 
	p.*,
	' 123',
	p.mall_id,
	p.pavilion_number,
	ps.status_id, -- [статус павильона]
	ps.status_name [статус павильона]
from Pavilion p
join Pavilion_statuses ps on 
	ps.status_id = p.status_id
*/
	declare 
		@status_id bigint;
	select @status_id = status_id from inserted;
	-- print(@status_id);
	IF (@status_id = 2 or  --забронирован
		@status_id = 3) BEGIN -- арендован
		RAISERROR ('Невозможно изменить павильон.', 16, 1);
		ROLLBACK;
	END;
END
GO 

/*
update Pavilion
set floor = 5
where mall_id = 4

delete Pavilion
where mall_id = 4
*/
--************************************************************************
IF EXISTS (SELECT name FROM sys.objects WHERE name = 'CheckerPavilionsDelete' AND type = 'TR')  
   DROP TRIGGER CheckerPavilionsDelete;  
GO  

CREATE TRIGGER CheckerPavilionsDelete
ON Pavilion
INSTEAD OF DELETE
AS
BEGIN
	declare 
		@status_id bigint;
	select @status_id = status_id from deleted;
	-- print(@status_id);
	IF (@status_id = 2 or  --забронирован
		@status_id = 3) BEGIN -- арендован
		RAISERROR ('Невозможно удалить павильон.', 16, 1);
		ROLLBACK;
	END;
END
GO 

/*
select * from rent
where mall_id = 1

select * from Rent_statuses
*/
